html, body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}
footer,  section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    width: 82%;
    margin-left: 9%;
    display: flex;
    margin-right: 9%;
}
.col2{
    flex-grow: 1;
    width: 50%;
   
}
.col3{
    flex-grow: 1;
    width: 50%;
}
.col6{
    flex-grow: 1;
    width: 100%;
}
#footer{
    background-color: #04111D;
}
/* .left-top */
.left-top{
    
    color: rgb(255, 255, 255);
    width: 85%;
    
    float: left;
    font-weight: 50px;
    
    font-size:15px;
    
}

p{
    font-size: 17px;
    
    
    line-height: 1.5em;
}
span{
       font-size: 17px;
        
        
        line-height: 1.5em;
    
}
.border{
    border-radius: 12px;
    width: 65%;
    height: 35px;
    font-size: 14px;
    padding: 5px;
    letter-spacing: 1px;
    position: relative;
    background-color: #04111D;
    
}
.toggle-btn{
    border-radius: 12px;
    padding: 10px ;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2081E2;
    width: 25%;
    height: 50px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    
}
.toggle-btn:nth-child(2){
    color: white;
}
/* .right-top */
.right-top{
    color: rgb(255, 255, 255);
    font-size:15px;
    width: 100%;
    padding-top: 50px;
    display: flex;
    height: 200px;
    
    flex-direction: column;
    font-weight: 50px;
    position: relative;
    background-color: #04111D;
}
.edit2{
    margin-left: 70px;
     
}
.imgs{
    display: flex;
    height: 200px;
    
    
}
.picture{
background-color: #353840;
border-radius: 10px;
cursor: pointer;
padding: 12px;
margin: 20px 5px 0 10px;

    
    
    

}
.picture:hover{
    background-color: #2081E2;
}

.line{
    width: 81%;
    
        margin: auto;
    
        opacity: 0.2;
        margin-top: 15px;
        background-color: white;
        height: 1px;
    
}
/* .left-bottom */
.left-bottom{
    width:50%;
   margin-top: 80px;
    float: left;
    display: inline;
    color: white;
      margin-top: 20px;
}   
    ul
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
.edit3{
        font-size: 21px;
        margin: 10px 0;
        font-weight: bold;
    }
    .edit4{
        font-size: 17px;
        font-weight: bold;
    }
    .list1{
        width: 15%;
        float: left;
        line-height: 2rem;
        margin-left: 18px;
        margin-right: 35px;
    }
    .list2{
        width: 15%;
        float: left;
        line-height: 2rem;
        margin-right: 35px;
    }
    .list3{
        width: 15%;
        margin-left: -170px;
        float: left;
        line-height: 2rem;
        margin-top: 245px;
        margin-right: 35px;
    }
    .list4{
        width: 15%;
        float: left;
        line-height: 2rem;
        
        margin-right: 35px;
    }
    .list5{
        width: 15%;
        float: left;
        line-height: 2rem;

    }

    .lowest-left{
        color: rgb(255, 255, 255);
        width: 100%;
        float: left;
        font-weight: 50px;
        font-size:15px;
        margin-top: 40px;
        margin-bottom: 40px;
         
    }
    .right{
        font-size: 15px;
        width:100%;
        
        display: flex;
        text-align: center;
        justify-content: center;
        position: relative;
        left: 100px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
.line{
    width: 10%;
    height: 20px;
        margin: auto;
    
        opacity: 0.2;
        margin-top: 15px;
        background-color: white;
        height: 1px;
    
}    
@media (max-width:1194px){
    #footer .container{
        flex-direction: column;
    }
    #footer .container .col2{
        width: 100%;
    }
    #footer .container h1{
        margin: 0 auto;
        
    }
    #footer .container p{
        
        font-size: 17px;
    }
    
    /* .col6 .col4{
        width: 100%;
    } */
.left-top h1{
    justify-content: center;
    text-align: center;
}
.list-edit{
    color: white;
      margin-top: 80px;
}   
ul
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.list1{
    width: 17%;
    float: left;
    line-height: 2rem;
    margin-left: 85px;
    
}
.list2{
    width: 17%;
    float: left;
    line-height: 2rem;
    
}
.list3{
    width: 15%;
    margin-left: -170px;
    float: left;
    line-height: 2rem;
    margin-top: 260px;
    
}
.list4{
    width: 18%;
    float: left;
    line-height: 2rem;
    
    
   
}
.list5{
    width: 10%;
    float: left;
    line-height: 2rem;
    
}
.lowest-left{
    color: rgb(255, 255, 255);
    width: 100%;
    float: left;
    font-weight: 50px;
    font-size:15px;
    margin-top: 40px;
    margin-bottom: 40px;
     
}
.right{
    font-size: 15px;
    width:100%;
    
    display: flex;
   
    position: relative;
    
    margin-top: 40px;
    margin-bottom: 40px;
}
.right a{
    position: relative;
    left: 250px;
}

@media (max-width:1194px){
    #footer .container{
        flex-direction: column;
    }
    #footer .container .col2{
        width: 100%;
    }
    #footer .container h1{
        margin: 0 auto;
        
        text-align: center;
        
    }
    #footer .container p{
        
        font-size: 18px;
        text-align: center;
    }
    .left-top{
    
        
        width: 100%;
        
        
        
        
        font-size:15px;
        
    }
    .border{
        
        width: 80%;
        
       
        
    }
    .toggle-btn{
        width: 15%;
    }
    .right-top{
        
        
        width: 100%;
        
        display: flex;
        margin: 0;
        
        
        
        
    }
    .imgs{
        display: flex;
        margin: 0;
        justify-content: center;        height: 200px;
       
    }
    .left-bottom{
        width:50%;
       margin-top: 80px;
        float: left;
        display: inline;
        color: white;
    }
    .edit1{
        font-size: 17px;
    
    
    line-height: 1.5em;
    }
    .list3{
        width: 15%;
        margin-left: -164px;
        float: left;
        line-height: 2rem;
        margin-top: 260px;
        background-color: yellow;
    }    
    #footer .container .col3{
    width: 50%;
}    
.right{
    float: left;
}
.right a{
    position: relative;
    left: 100px;
}
}
@media (max-width:1023px){
    #footer .container .col3{
        flex-direction: column;
    }
    #footer .container .col6 .col3{
        width: 100%;
    }
    .col3 .left-bottom{
        margin: 0 auto;
            margin-top: 80px;
       
        text-align: center;
        width:100%;
    }
      .edit4 {
        width: 100%;
    }
    .border{
        width: 80%;
       }
    .toggle-btn{
        width: 15%;
    }
    #footer .container .col6 .col4{
        width: 100%;
    }
    .list1{
        width: 15%;
        float: left;
        line-height: 2rem;
        margin-left: 20px;
        margin-right: 80px;
    }
    .list2{
        width: 15%;
        float: left;
        line-height: 2rem;
        margin-right: 80px;
    }
    .list3{
        width: 15%;
        margin-left: -206px;
        float: left;
        line-height: 2rem;
        margin-top: 245px;
        margin-right: 90px;
    }
    .list4{
        width: 20%;
        float: left;
        line-height: 2rem;
        
        margin-right: 35px;
        margin-right: 50px;
    }
    .list5{
        width: 15%;
        float: left;
        line-height: 2rem;
    
    }
    
    
    
}   
@media (max-width: 814px){
    .border{
        width: 70%;
       }
    .colhalf{
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        background-color: magenta;
    }
    
   
    .list-edit{
       
          
          text-align: center;
    }   
    .list1{
        width: 16%;
        float: left;
        line-height: 2rem;
        
    } 
        .list2{
            width: 17%;
            float: left;
            line-height: 2rem;
            
            margin-left: 150px;
            margin-right: 50px;
        }
        .list3{
            width: 17%;
            position: relative;
            float: left;
            line-height: 2rem;
            left: 45px;
            top: 20px;
        }
        .list4{
            width: 25%;
            float: left;
            line-height: 2rem;
            margin-top: 500px;
            margin-left: -545px;
        }
        .list5{
            width: 17%;
            float: left;
            line-height: 2rem;
            margin-top: 270px;
            margin-left: 150px;
        }
}
@media (max-width: 720px){
   /*  .border{
        width: 80%;
       } */
    .list1{
        width: 17%;
        float: left;
        line-height: 2rem;
        
        
        
    } 
        .list2{
            width: 17%;
            float: left;
            line-height: 2rem;
            position: relative;
            top: -490px;
            left: 280px;
            
        }
        .list3{
            width: 17%;
            position: relative;
            float: left;
            line-height: 2rem;
            left: 340px;
            top: -440px;
        }
        .list4{
            width: 17%;
            float: left;
            line-height: 2rem;
            margin-right: 0;
            margin-top: 100px;
            margin-left: -200px;
        }
        .list5{
            width: 17%;
            float: left;
            line-height: 2rem;
            margin-top: -135px;
            margin-left: 400px;
        }
} 
@media (max-width: 602px){
       .border{
        width: 70%;
       }
       .list1{
        width: 22%;
        float: left;
        
        padding: 0;
        margin: 0;
        position: relative;
        left: 50px;
        
        
    } 
        .list2{
            width: 22%;
            float: left;
            
            position: relative;
            top: 1px;
            left: 70px;
            
        }
        .list3{
            width: 17%;
            position: relative;
            float: left;
            line-height: 2rem;
            left: 120px;
            top: 15px;
        }
        .list4{
            width: 30%;
            float: left;
            line-height: 2rem;
            margin-right: 0;
            margin-top: 500px;
            margin-left: -350px;
        }
        .list5{
            width: 17%;
            float: left;
            line-height: 2rem;
            margin-top: 500px;
            margin-left: -90px;
        }
}
@media (max-width: 540px){
    .list1{
        width: 40%;
        float: left;
        line-height: 2rem;
        padding: 0;
        margin: 0;
        position: relative;
        left: 20px;
        
        
    } 
    .list2{
        width: 50%;
        float: left;
       
        
        margin-left: 150px;
        margin-top: -430px;
    }
    .list3{
        width: 50%;
        position: relative;
        float: left;
        
        left: 430px;
        top: -410px;
    }
    .list4{
        width: 50%;
        float: left;
        line-height: 2rem;
        margin-right: 0;
        margin-top: 50px;
        margin-left: -90px;
    }
    .list5{
        width: 50%;
        float: left;
        line-height: 2rem;
        margin-top: -330px;
        margin-left: 250px;
    }
}
@media (max-width: 460px){
    
    .right-top .imgs{
width: 90%;
margin: 9px;
padding: 0 0;
    }
.right-top img{
    padding: 5px 5px;
    margin: 5px 5px;
}
.list1{
    width: 40%;
    float: left;
    line-height: 2rem;
    padding: 0;
    margin: 0;
    position: relative;
    left: 20px;
    
    
} 
.list2{
    width: 40%;
    float: left;
   
    
    margin-left: 150px;
    margin-top: -430px;
}
.list3{
    width: 40%;
    position: relative;
    float: left;
    
    left: 430px;
    top: -410px;
}
.list4{
    width: 40%;
    float: left;
    line-height: 2rem;
    margin-right: 0;
    margin-top: 50px;
    margin-left: -10px;
}
.list5{
    width: 40%;
    float: left;
    line-height: 2rem;
    margin-top: -330px;
    margin-left: 220px;
}
}
}