.main-hero-area {
    background-image: url(../../static/hero_section_assets/hero_section_nft_image_2.jpg);
    z-index: -1;
    height: 560px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 4rem;
    background-position: center;
}

.main-hero-area section {
    /* background-color: rgba(32, 34, 37, 0.93); */
    background-image: linear-gradient(rgba(32, 34, 37, 0.93), rgba(32, 34, 37, 1.0));
    overflow: hidden;

}

section .hero-section {
    width: 100%;
    height: 432px;
    display: grid;
    grid-template-columns: 12fr 8fr;
    column-gap: 7%;
    box-sizing: border-box;
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding: 0px 9% 0px 9%;
}


.left-hero-side {
    display: grid;
    grid-template-rows: 29% 29% 17% 17%;
    row-gap: 0.2rem;
    padding: 2rem 0;
}

.left-hero-side h1.website-slogan-title {
    font-size: 43px;
    font-weight: 600;
    line-height: 43px;
    text-align: left;
    padding-right: 2.4rem;
    padding-bottom: 0.2rem;
}

.left-hero-side h2.website-secondary-slogan {
    font-size: 24px;
    font-weight: 400;
    opacity: 0.3;
    padding-right: 7rem;
    text-align: left;
}

.hero-section-buttons button {
    margin-right: 1rem;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
}

.hero-section-link {
    padding-top: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.hero-section a.learn-more-link {
    color: var(--primary);
    font-weight: 700;
}

.hero-section img.learn-more-icon {
    width: 1.3rem;
    margin-right: 0.5rem;
}

.hero-section .right-hero-side {
    display: grid;
    grid-template-rows: 345px 60px;
    border-radius: 12px;
    background-color: var(--gray);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

.hero-section .right-hero-side:hover {
    box-shadow: 30px 30px 50px black;
} 

.right-hero-side .hero-image-container {
    width: 460px;
}

.hero-nft-image {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.hero-section .image-info-bar {
    background-color: var(--gray);
    height: 76px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0 12px 12px;
}

.hero-section img.nft-artist-icon {
    width: 2.8rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.hero-section .nft-artist-infos {
    margin-left: 1rem;
}

.hero-section .nft-artist-infos h5 {
    font-weight: 500;
}



/*   RESPONSIVE BREAKPOINTS   */

/*  Notebook (Large Display) */
@media screen and (min-width: 1216px) and (max-width: 1401px) {

    section .hero-section {
        padding: 0px 4% 0px 4%;
    }

    .left-hero-side h1.website-slogan-title {
        padding-right: 2.8rem;
    }
}

/*  Notebook (Standard Display) */
@media screen and (min-width: 992px) and (max-width: 1215px) {

    section .hero-section {
        padding: 0px 4% 0px 4%;
        column-gap: 5%;
    }

    .left-hero-side h1.website-slogan-title {
        font-size: 32px;
        padding-right: 1rem;
    }

    .left-hero-side h2.website-secondary-slogan {
        padding-right: 5rem;
    }
}

/*  Tablets  */
@media screen and (min-width: 577px) and (max-width: 991px) {

    div.main-hero-area {
        background-position: center;
        margin-bottom: 20rem;
    }

    section .hero-section {
        width: 100%;
        height: 900px;
        grid-template-columns: none;
        grid-template-rows: 300px 440px;
        row-gap: 0;
        padding: 0 12% 2% 12%;
        margin-top: 4.4rem;
    }

    
    .left-hero-side {
        padding: 0;
        row-gap: 1rem;
        grid-template-rows: 28% 24% 21% 1px;
    }

    .left-hero-side h1.website-slogan-title {
        font-size: 32px;
        text-align: center;
        padding:  0 0.5rem;
    }

    .left-hero-side h2.website-secondary-slogan {
        font-size: 18px;
        text-align: center;
        padding: 0px 4rem 0px 4rem;
    }
    

    .hero-section-buttons {
        text-align: center;
    }

    .hero-section-buttons button {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }
    
    div.hero-section-link {
        display: none;
    }

    .hero-section .right-hero-side {
        width: 380px;
        grid-template-rows: 285px 76px;
        margin: auto;
    }

    .right-hero-side .hero-image-container {
        width: 380px;
    }

    .hero-nft-image {
        width: 100%;
    }

    .hero-section .hero-section-link {
        text-align: center;
    }

}

/*  Smartphones (iPhone 6/7/8 Plus etc.)  */
@media screen and (min-width: 0px) and (max-width: 576px) {

    div.main-hero-area {
        background-position: center;
        margin-bottom: 20rem;
    }

    section .hero-section {
        width: 100%;
        height: 630px;
        margin-top: 3rem;
        grid-template-columns: none;
        grid-template-rows: 300px 340px;
        row-gap: 2rem;
    }

    .left-hero-side {
        grid-template-rows: 28% 24% 21% 1px;
        row-gap: 1.5rem;
    }

    .left-hero-side h1.website-slogan-title {
        font-size: 28px;
        text-align: center;
        padding-right: 1rem;
        padding-left: 1rem;
        line-height: 2rem;
    }

    .left-hero-side h2.website-secondary-slogan {
        font-size: 18px;
        text-align: center;
        padding: 0 1rem 0 1rem;
    }

    .hero-section-buttons {
        text-align: center;
    }

    .hero-section-buttons button {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }

    div.hero-section-link {
        display: none;
    }
    
    .hero-section .right-hero-side {
        width: 356px;
        grid-template-rows: 267px 76px;
        margin: auto;
    }

    .right-hero-side .hero-image-container {
        width: 356px;
    }

    .hero-nft-image {
        width: 100%;
    }
}


/*   END OF THE DOCUMENT  */