section .hero-section {
    display: grid;
    grid-template-columns: 12fr 8fr;
    column-gap: 7%;
    box-sizing: border-box;
    margin-top: 8rem;
    margin-bottom: 4rem;
    width: 100%;
    padding: 0px 9% 0px 9%;
    height: 420px;
}


.left-hero-side {
    display: grid;
    grid-template-rows: 12fr 12fr 7fr 7fr;
    padding: 1.5rem 0;
}

.left-hero-side h1.website-slogan-title {
    font-size: 45px;
    font-weight: 600;
    line-height: 46px;
}

.left-hero-side h2.website-secondary-slogan {
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0.3;
    padding-right: 12rem;
}

.hero-section-buttons button {
    margin-right: 1rem;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
}

.hero-section-link {
    padding-top: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.hero-section a.learn-more-link {
    color: var(--primary);
    font-weight: 700;
}

.hero-section img.learn-more-icon {
    width: 1.3rem;
    margin-right: 0.5rem;
}

.hero-section .right-hero-side {
    display: grid;
    grid-template-rows: 340px auto;
    /* overflow: hidden; */
    border-radius: 12px;
    background-color: var(--gray);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

.hero-section .right-hero-side:hover {
    box-shadow: 30px 30px 50px black;
} 

.right-hero-side .hero-image-container {
    width: 460px;
    overflow: hidden;
}

.hero-nft-image {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.hero-section .image-info-bar {
    background-color: var(--gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0 12px 12px;
}

.hero-section img.nft-artist-icon {
    width: 2.8rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.hero-section .nft-artist-infos {
    margin-left: 1rem;
}

.hero-section .nft-artist-infos h5 {
    font-weight: 500;
}